---
import { SignedIn, SignedOut, UserButton, SignInButton } from '@clerk/astro/components'
---

<html lang="uk-UA">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Гіпертонік</title>
	</head>
	<body>
		<nav>
  <SignedOut>
	<!-- <SignInButton mode="modal" /><br> -->
	<SignInButton mode="modal" asChild>
		<button>Увійти</button>
	</SignInButton>
</SignedOut>
  <SignedIn>
	<UserButton />
</SignedIn>
</nav>
		<h1>Гіпертонік</h1>
	</body>
</html>
