---
import Layout from "../layouts/Layout.astro";
import OGImage from "../assets/hypertonic.webp";
import { Image } from "astro:assets";
---

<Layout 
title='Українська Програма "Гіпертонік"'
description='Програма "Гіпертонік" допомогає людям з гіпертонічною хворобою (артеріальною гіпертензією) контролювати свій артеріальний тиск.'
url="https://hypertonic.netlify.app/"
type="website"
site_name="Гіпертонік"
ogimage={OGImage.src}
>



		<h1>Гіпертонік</h1>
</Layout>
